﻿.masas-ndwp-mainContainer
{
}

.masas-ndwp-trackingNV
{
    width: 100px;
    display: inline-block;
}

.masas-ndwp-trackingNV-red
{
    width: 100px;
    display: inline-block;
    background-color: red;
}

.masas-ndwp-trackingNV-yellow
{
    width: 100px;
    display: inline-block;
    background-color: yellow;
}
    
.masas-ndwp-label
{
    display: inline-block;
}

.masas-ndwp-value
{
    display: inline-block;
    
    margin-left: 5px;
    margin-right: 5px;
}